menu "Update Manager"
    config UM_FIRMWARE_UPGRADE_URL
        string "Firmware Upgrade URL"
        
        default "https://github.com/ronny-antoon/MatterApplication/blob/master/OTA_EXAMPLE/MatterApplication.bin?raw=true"
        help
            Enter the URL of the firmware upgrade file. The URL must be a full
            URL including the protocol (http:// or https://) and the filename
            of the firmware image. The URL must be accessible from the device
            and the firmware image must be in the correct format for the device.
    
    config UM_OTA_RECV_TIMEOUT
        int "OTA Receive Timeout"
        default 5000
        help
            The time in seconds to wait for the firmware image to be received
            from the server. If the firmware image is not received within this
            time, the upgrade process will be aborted.

    config UM_HTTP_REQUEST_SIZE
        int "HTTP Request Size"
        default 1024
        help
            The size of the buffer used to receive the HTTP response from the
            server. This buffer is used to store the HTTP response headers and
            the firmware image. If the buffer is too small, the firmware image
            may be truncated and the upgrade process will fail.

    config UM_WIFI_SSID
        string "WiFi SSID"
        default "mySSID"
        help
            Enter the SSID of the WiFi network to connect to. The SSID is the
            name of the WiFi network that is broadcast by the access point.
            
    config UM_WIFI_PASSWORD
        string "WiFi Password"
        default "myPASSWORD"
        help
            Enter the password for the WiFi network. The password is used to
            authenticate the device to the access point and establish a secure
            connection.

    config UM_WIFI_CONNECT_TIMEOUT
        int "WiFi Connect Timeout"
        default 30
        help
            The time in seconds to wait for the device to connect to the WiFi
            network. If the device is unable to connect to the network within
            this time, the upgrade process will be aborted.
endmenu